.hi
{
    font-weight: 600;
    color: darkred;
}
.pi
{
    font-weight: 600;
    color: blue;
}
.si
{
    color: red;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.slides
{
	background-color:#FFF;
	height:200px;
	width:200px;
	}